.Header {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  padding: 20px;
}

.app {
  text-align: center;

  .tasks-list {
    padding: 40px;
    .task {
      padding: 5px;
    }
  }
}
